/* 功能按鈕 */
.functionBtn {
    font-size: 1.5rem;
    color: rgb(245, 245, 245);
    background-color: #36bf36;
    border: none;
    border-radius: 6px;
    padding: 5px 20px;
    transition: .5s;
    cursor: pointer;
}

.functionBtn:hover {  
    background-color: #3ea739;
}

/* 分頁按鈕 */
.switchPageBtn {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}