.table{  
    width: 100%;
    border-collapse: collapse;
}

.table th{
    background-color: #d59b5e;
    border: 1.5px solid #000; /* 關鍵設定 */
}

.table td {
    border: 1.5px solid #000; /* 關鍵設定 */
}