<!--
    fragments/info.html
    餐廳資訊區塊 Fragment
-->
<section th:fragment="info">
    <div class="info"><label><strong>餐廳名稱：</strong></label><span data-field="restaurantName"></span></div>
    <div class="info"><label><strong>餐廳類別：</strong></label><span data-field="category"></span></div>
    <div class="info"><label><strong>選擇次數：</strong></label><span data-field="visitedCount"></span></div>
    <div class="info"><label><strong>最後一次吃的時間：</strong></label><span data-field="lastEat"></span></div>
    <div class="info"><label><strong>最後一次更新資料時間：</strong></label><span data-field="lastVisitedAt"></span></div>
    <div class="info"><label><strong>備註：</strong></label><span data-field="note"></span></div>
</section>