<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增餐廳</title>
    <link rel="stylesheet" href="/css/layout/navBar.css">
    <link rel="stylesheet" href="/css/forms/formCommon.css">
</head>
<body>
    <option th:replace="~{layout/navBar :: sharedNavBar}"></option>

    <!--新增餐廳資訊-->
    <div class="formContainer">
        <h1>新增餐廳</h1>
        <form id="createForm">
            <label for="restaurantName">餐廳名稱：</label>
            <input type="text" id="restaurantName" required>

            <label for="category">餐廳類別：</label>
            <select id="category">
                <option th:replace="~{modules/categoryButton :: foodCategory}"></option>
            </select>

            <label for="note">備註：</label>
            <textarea type="text" id="note"></textarea>

            <label for="imageUrl">圖片Url：</label>
            <input type="url" id="imageUrl">

            <button type="submit">新增餐廳</button>
        </form>
    </div>

    <script type="module" src="/js/createRestaurant.js"></script>
</body>
</html>
