<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增餐廳</title>
    <link rel="stylesheet" href="/css/buttonStyle.css">
</head>
<body>
    <h1>新增餐廳</h1>

    <!--跳轉頁面按鈕-->
    <button class="pageBtn" onclick="location.href='/dinnerHome'" style="margin-bottom: 20px;">回首頁</button>

    <!--新增餐廳資訊-->
    <form id="createForm">
        <label for="restaurantName">餐廳名稱：</label>
        <input type="text" id="restaurantName" required>
        <br>

        <label for="category">餐廳類別：</label>
        <select id="category">
            <option th:replace="~{modules/categoryButton :: foodCategory}"></option>
        </select>
        <br>

        <label for="note">備註：</label>
        <input type="text" id="note">
        <br>

        <label for="imageUrl">圖片Url：</label>
        <input type="url" id="imageUrl">
        <br>

        <button class="functionBtn" type="submit" style="margin-top: 20px;">新增餐廳</button>
    </form>
    <script type="module" src="/js/createRestaurant.js"></script>
</body>
</html>
