<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增餐廳</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>新增餐廳</h1>

    <!--跳轉頁面按鈕-->
    <button class="pageBtn" onclick="location.href='/dinnerHome'" style="margin-bottom: 20px;">回首頁</button>

    <!-- 表單使用 JS 攔截送出 -->
    <form id="restaurantForm">
        <label>餐廳名稱：
            <input type="text" required name="restaurantName" id="restaurantName">
        </label><br>

        <label for="category">餐廳類別：</label>
        <select id="category" name="category">
            <div th:replace="fragments/categoryButton :: foodCategory"></div>
        </select><br>

        <label>備註：
            <input type="text" name="note" id="note">
        </label><br>

        <label>圖片Url：
            <input type="url" name="imageUrl" id="imageUrl">
        </label><br>

        <button class="randomBtn" type="submit" style="margin-top: 20px;">新增餐廳</button>
        <script src="/js/createRestaurant.js" defer></script>
    </form>
</body>
</html>
