<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>餐廳一覽</title>
    <link rel="stylesheet" href="/css/buttonStyle.css">
    <link rel="stylesheet" href="/css/imageStyle.css">
    <link rel="stylesheet" href="/css/tableStyle.css">
</head>
<body>
    <h1>餐廳一覽</h1>

    <!--跳轉頁面按鈕-->
    <button class="pageBtn" onclick="location.href='/dinnerHome'" style="margin-bottom: 20px;">回首頁</button><br>

    <!--篩選-->
    <label for="category">餐廳類別：</label>
    <select id="category" name="category">
        <option value="">全部</option>
        <option value="主食">主食</option>
        <option value="輕食">輕食</option>
        <option value="飲料">飲料</option>
    </select>

    <label for="search">關鍵字：</label>
    <input type="text" id="search" name="search" placeholder="輸入餐廳名稱或備註內容">

    <button>查詢</button>

    <!--排序-->
    <div style="float:right;">
        <select id="orderBy" name="orderBy">
            <option value="restaurantIdOrder">建立順序</option>
            <option value="categoryOrder">類別</option>
            <option value="visitedCountOrder">選擇次數</option>
            <option value="lastEatOrder">最後選擇時間</option>
            <option value="lastVisited_atOrder">最後修改時間</option>
        </select>

        <select id="sort" name="sort">
            <option value="ASC">最舊/最少</option>
            <option value="DESC">最新/最多</option>
        </select>
    </div>

    <!--餐廳清單-->
    <table class="table">
        <thead>
            <tr>
                <th>餐廳名稱</th>
                <th>圖片</th>
                <th>類別</th>
                <th>選擇次數</th>
                <th>最後選擇時間</th>
                <th>最後修改時間</th>
                <th>備註</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody id="tableBody">
            <!-- 資料列將由 JavaScript 動態插入 -->
        </tbody>
    </table>

    <!--分頁按鈕-->
    <!--<div id="pagination-controls" style="margin-top: 20px; text-align: center; display: flex; justify-content: center; align-items: center; gap: 10px;">
        <button id="prev-page">上一頁</button>
        <div style="white-space: nowrap;">第1頁 / 共10頁</div>
        <button id="next-page">下一頁</button>
    </div>-->

    <script src="/js/listRestaurant.js"></script>
</body>
</html>