<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <option th:replace="~{layout/headTitle :: commonHeadTitle}"></option>
    <link rel="stylesheet" href="/css/components/buttonStyle.css">
    <link rel="stylesheet" href="/css/layout/navBarRegister.css">
    <link rel="stylesheet" href="/css/forms/formCommon.css">
</head>
<body>
    <div class="formContainer">
        <h1>會員註冊</h1>
        <form id="loginForm">
            <label for="account">帳號：</label>
            <input type="text" id="account" placeholder="只能輸入英文和數字" maxlength="256" pattern="^[a-zA-Z0-9]*$" required>

            <label for="memberPassword">密碼：</label>
            <input type="text" id="memberPassword" placeholder="只能輸入英文和數字和特殊符號" maxlength="256" required oninput="this.value = this.value.replace(/[^a-zA-Z0-9!@#$%^&*()_+\-=\\[\]{};':&quot;\\|,.&lt;&gt;\/?`~]/g, '')"/>
            </select>

            <button type="submit" class="functionBtn">註冊</button>
            <button type="button" class="functionBtn" onclick="window.location.href='/dinnerHome'">已有帳號？點此登入</button>
        </form>
    </div>

    <script type="module" src="/js/memberRegister.js"></script>
</body>
</html>